.firstcontainer {
    background-color: black;
    margin: 25px;
    padding: 1%;
}

.greybox{
    background-color: grey;
    padding: 2%;
    margin: 1%;
    display: flex;
}

.orangebox{
    background-color: orange;
    padding: 2%;
    margin: 1%;
    display: flex;
}

.d1{
    background-color:red;
    margin: 1%;
    flex-grow: 1;
}

.d2{
    background-color:red;
    margin: 1%;
    flex-grow: 4;
}

.d3{
    background-color: yellow;
    margin: 1%;
    flex-grow: 4;
}

h3{
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondcontainer {
    background-color: black;
    margin: 25px;
    padding: 1%;
    display: flex;
}

.bluegreybox{
    background-color: grey;
    padding: 2%;
    margin: 1%;
    width: 60%;
    display: flex;
}

.redbox{
    background-color:red;
    padding: 2%;
    margin: 1%;
    display: flex;
    width: 30%;
    flex-direction: column;
}

.bluebox1{
    background-color: cyan;
    padding: 2%;
    margin: 1%;
    width: 50%;
    display: flex;
}

.cyanbox1{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.cyanbox2{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}


.yellowbox1{
    background-color: yellow;
    margin: 1%;
    flex-grow: 4;
    display: flex;
}

.cyanlarge{
    background-color: blue;
    display: flex;
    margin: 1%;
}

.footer{
    background-color: black;
    padding: 2%;
    margin: 1%;
    display: flex; 
}

.footerorange{
    background-color: yellow;
    display: flex;
    margin: 1%;
    flex-grow: 4;
}